VITE_SUPABASE_URL=https://xhckunycmdprirbovxzm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhoY2t1bnljbWRwcmlyYm92eHptIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE0NTE4NjcsImV4cCI6MjA5NzAyNzg2N30.j-XQYgAclCjKRs2EqCgHNBeDOEgwb_mOoardhCNG1Pw
